<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Træning</title>
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="../../css/custom.css" rel="stylesheet">
    <script src="../js/bootstrap.js"></script>
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<div th:replace="/includes/menu::menu"></div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2">
        <h1 class="entry-title">Træning</h1>

        <div class="entry-content">
            <p><strong>Træning i Islevbadet</strong></p>
            <p>15.aug til 19.juni<br>
                Mandag<br>
                20.00 – 21.50</p>
            <p>27.okt til 21.maj<br>
                Torsdag<br>
                19.45 – 21.50</p>
            <p>Fredag<br>
                16.00 start for guppyer<br>
                17.30 – 19.00</p>
        </div>
    </div>
    <div class="col-6">

        <iframe
                width="600"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB3-EY-uLDCOHZ_J-D-YtoRb6iQjqRm0LU
    &q=Space+Needle,Islevbadet, Rødovre" allowfullscreen>
        </iframe>
    </div>

    <div class="col-2"></div>

</div>

</body>
</html>