<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Redigér informationer (' + ${member.firstname} + ')'"></title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">

</head>
<body>
<div th:replace="/includes/menu::menu"></div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                <form id="formID">
                <div class="form-group row">
                    <div class="col-md-12">
                        <h2 th:text="'Redigér informationer (' + ${member.firstname} + '):'"></h2>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstname">Fornavn</label>
                            <input th:field="${member.id}" hidden="hidden"/>
                            <input th:field="${member.session.id}" hidden="hidden"/>
                            <input th:field="${member.firstname}" type="text"
                                       class="form-control"
                                       aria-label="Sizing example input"
                                       aria-describedby="inputGroup-sizing-default"
                                       id="firstname">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastname">Efternavn</label>
                            <input th:field="${member.lastname}" type="text"
                                       class="form-control"
                                       aria-label="Sizing example input"
                                       aria-describedby="inputGroup-sizing-default"
                                       id="lastname">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Adresse:</label>
                            <input th:field="${member.address}" type="text" class="form-control"
                                       aria-label="Sizing example input"
                                       aria-describedby="inputGroup-sizing-default"
                                       id="address">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="zipcode">Postnummer:</label>
                            <input aria-describedby="inputGroup-sizing-default" id="zipcode"
                                       class="form-control"
                                       aria-label="Sizing example input"
                                       th:field="${member.zipcode}"
                                       type="text">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="city">By:</label>
                            <input th:field="${member.city}" type="text" class="form-control"
                                       aria-label="Sizing example input"
                                       aria-describedby="inputGroup-sizing-default"
                                       id="city">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phone-number">Telefonnummer:</label>
                            <input aria-describedby="inputGroup-sizing-default" aria-label="Sizing example input"
                                       class="form-control"
                                       id="phone-number"
                                       th:field="${member.phone}"
                                       type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cert-number">Dykker Certifikat Nummer:</label>
                            <input th:field="${member.certificateNumber}" type="text"
                                       class="form-control" aria-label="Sizing example input"
                                       aria-describedby="inputGroup-sizing-default"
                                       id="cert-number">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email (Brugernavn):</label>
                            <input aria-describedby="inputGroup-sizing-default" id="email" readonly
                                   class="form-control"
                                   aria-label="Sizing example input"
                                   th:field="${member.session.username}"
                                   type="email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input aria-describedby="inputGroup-sizing-default" id="password"
                                   class="form-control"
                                   aria-label="Sizing example input"
                                   th:field="${member.session.password}"
                                   hidden="hidden" type="text">
                        </div>
                    </div>
                </div>
            </form>
                </p>
                <a href="/admin/members/" class="btn btn-danger">Tilbage</a>
                <button class=" btn btn-success float-right" id="saveBtn">Gem</button>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $("#saveBtn").click(function () {
        $.ajax({
            url: '/../api/member/edit',
            type: 'put',
            data: $("#formID").serialize(),
            error: function (err) {
                console.log(err.responseText);
            },
            success: function (options) {
                console.log(options);
                window.location.href = "/admin/members/";

            }
        });
    });
</script>
</body>
</html>
