<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ture</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-grid.css" rel="stylesheet">
    <link href="../css/bootstrap-reboot.css" rel="stylesheet">
    <script src="../js/bootstrap.js"></script>
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>
<body>

<div th:replace="/includes/menu::menu"></div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">

        <iframe style="border: 0;"
                src="https://www.google.com/calendar/embed?src=eiqmqs1fkspvds5angp010uupc%40group.calendar.google.com&amp;ctz=Europe/Copenhagen"
                height="600" width="100%" frameborder="0" scrolling="no" kwframeid="1"></iframe>
    </div>
    <div class="col-2"></div>
</div>
<style>
    .view-cap, .view-container-border {
        background-color: green;
    }

    .mv-daynames-table {
        table-layout: fixed;
        top: 0;
        left: 0;
        width: 100%;
        /* background: #e3e9ff; */
        color: white;
    }
</style>
</body>
</html>