<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mine Informationer</title>

    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/custom.css">
</head>
<body>
<div th:replace="/includes/menu::menu"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2>Mine Informationer</h2>
                    <div class="alert alert-success" role="alert" th:if="${success}">
                        Handlingen blev udført!
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p id="info-firstname"></p>
                        </div>
                        <div class="col-md-6">
                            <p id="info-lastname"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p id="info-address"></p>
                        </div>
                        <div class="col-md-3">
                            <p id="info-zipcode"></p>
                        </div>
                        <div class="col-md-3">
                            <p id="info-city"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p id="info-phone"></p>
                        </div>
                        <div class="col-md-6">
                            <p id="info-certificate"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p id="info-username"></p>
                        </div>
                        <div class="col-md-6">
                            <p th:utext="'<b>Adgangskode:<br></b><i>Skjult</i>'"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/member/my-information/edit" class="btn btn-primary float-right">Rediger infomationer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $.ajax({
        url: "/api/member/get-current-member",
        method: "GET",
        success: function (member) {
            console.log(member);
            $("#info-firstname").html('<b>Fornavn:<br></b>' + member.firstname);
            $("#info-lastname").html('<b>Efternavn:<br></b>' + member.lastname);
            $("#info-address").html('<b>Adresse:<br></b>' + member.address);
            $("#info-zipcode").html('<b>Postnummer:<br></b>' + member.zipcode);
            $("#info-city").html('<b>By:<br></b>' + member.city);
            $("#info-phone").html('<b>Telefonnummer:<br></b>' + member.phone);
            $("#info-certificate").html('<b>Dykker Certifikat Nummer:<br></b>' + member.certificateNumber);
            $("#info-username").html('<b>Email (Brugernavn):<br></b>' + member.session.username);
        }
    })
</script>
</html>