<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Redigér ' + ${member.firstname} + '\'s Informationer'"></title>

    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/custom.css">
</head>
<body>
<div th:replace="/includes/menu::menu"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2>Rediger Mine Informationer</h2>
                    <form id="myInformationEdit">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname">Fornavn</label>
                                    <input th:field="${member.firstname}" type="text"
                                           class="form-control"
                                           aria-label="Sizing example input"
                                           aria-describedby="inputGroup-sizing-default"
                                           id="firstname">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastname">Efternavn</label>
                                    <input th:field="${member.lastname}" type="text"
                                           class="form-control"
                                           aria-label="Sizing example input"
                                           aria-describedby="inputGroup-sizing-default"
                                           id="lastname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="address">Adresse:</label>
                                    <input th:field="${member.address}" type="text" class="form-control"
                                           aria-label="Sizing example input"
                                           aria-describedby="inputGroup-sizing-default"
                                           id="address">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="zipcode">Postnummer:</label>
                                    <input aria-describedby="inputGroup-sizing-default" id="zipcode"
                                           class="form-control"
                                           aria-label="Sizing example input"
                                           th:field="${member.zipcode}"
                                           type="text">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="city">By:</label>
                                    <input th:field="${member.city}" type="text" class="form-control"
                                           aria-label="Sizing example input"
                                           aria-describedby="inputGroup-sizing-default"
                                           id="city">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone-number">Telefonnummer:</label>
                                    <input aria-describedby="inputGroup-sizing-default" aria-label="Sizing example input"
                                           class="form-control"
                                           id="phone-number"
                                           th:field="${member.phone}"
                                           type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cert-number">Dykker Certifikat Nummer:</label>
                                    <input th:field="${member.certificateNumber}" type="text"
                                           class="form-control" aria-label="Sizing example input"
                                           aria-describedby="inputGroup-sizing-default"
                                           id="cert-number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email (Brugernavn):</label>
                                    <input aria-describedby="inputGroup-sizing-default" id="email"
                                           class="form-control"
                                           aria-label="Sizing example input"
                                           th:field="${member.session.username}"
                                           type="email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="password">Ny adgangskode:</label>
                                    <input aria-describedby="inputGroup-sizing-default" id="password"
                                           class="form-control"
                                           aria-label="Sizing example input"
                                           th:field="${member.session.password}"
                                           type="password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/member/my-information" class="btn-danger btn">Afbryd</a>
                                <button type="button" class="btn btn-success float-right" id="saveBtn">Gem</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $("#saveBtn").click(function () {
        $.ajax({
            url: '/api/member/update',
            type: 'put',
            data: $("#myInformationEdit").serialize(),
            error: function (err) {
                console.log(err.responseText);
            },
            success: function (options) {
                console.log(options);
                window.location.href = "/member/my-information";
            }
        });
    });
</script>
</body>
</html>